.app-insta-feed-container {
  .insta-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      padding: 25px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
      img {
        width: 400px;
      }
    }
  }
}
