$text-primary: #2d333a;
$text-secondary: white;
$text-tertiary: #98d0c3;
$text-quaternary: #949494;

$bg-primary: white;
$bg-secondary: #98d0c3;
$bg-tertiary: #f2f6f7;
$bg-quaternary: #949494;

$border-primary: #e3e4e4;
$border-secondary: #98d0c3;

$social-icon-fb: #3f51b5;
$social-icon-instagram: #9c27b0;
