@import "~bootstrap/scss/bootstrap";
@import "./colors.scss";
@import "./variables.scss";

.app-container {
  background-color: $bg-tertiary;

  .app-content-container {
    margin-top: $header-height;
    min-height: calc(calc(100vh - #{$header-height}) - #{$footer-height});
  }
}
