@import "./../../styles/colors.scss";
.treatments-container {
  padding-bottom: 10vh;
  max-width: 980px;
  margin: auto;
  .treatments-title {
    h1 {
      padding: 5vh 0px;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 4px;
      line-height: 1;
      color: $text-tertiary;
      text-align: center;
    }
  }
}

.test
{
  background-color: red;
}

.test2
{
  background-color: green;
}

.w3-content {
  max-width: 980px;
  margin: auto;
}

.w3-padding-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
.w3-padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.w3-padding-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}