@import "/src/styles/colors.scss";

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3vw;
  padding-left: 10vw;
  border-bottom: 5px solid $border-primary;

  .header-row {
    width: 100%;
  }

  .menu-items {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-header {
    padding-right: 15px;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    .social-header-icon {
      padding-right: 20px;
    }
  }

  .nav-item {
    padding: 5px 0px;
    a {
      color: $text-primary;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.5;
      font-weight: 600;
      letter-spacing: 1.5;
    }
  }

  .img-logo {
    height: 75px;
    width: auto;
    padding-left: 15px;
  }

  .app-home-title {
    display: flex;
    justify-content: center;

    h1 {
      text-transform: uppercase;
      padding: 3vh 0px;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 4px;
      line-height: 1;
      color: $text-secondary;
    }
  }
}
