.app-carousel {
  height: 80vh;
  .carousel-inner {
    height: 80vh;
    img {
      filter: grayscale(20%);
    }
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    top: 60vh;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
}
