@import "/src/styles/colors.scss";

.app-team-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
  padding-bottom: 5vh;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .team-body {
    padding-left: 5vw;
    text-align: justify;
    .team-title {
      color: $text-tertiary;
      text-transform: uppercase;
      font-weight: 600;
      padding-top: 5px;
      font-size: 18px;
    }
    .team-subtitle {
      color: $text-quaternary;
      padding-top: 5px;
      font-size: 16px;
    }

    .team-desc {
      padding-top: 15px;
    }
  }
}
