@import "/src/styles/colors.scss";

.app-team-container {
  margin-bottom: 25px;
  padding: 15px;
  background-color: $bg-primary;
  box-shadow: 0 5px 32px rgba(103, 122, 141, 0.17);

  .team-header {
    display: flex;
    flex-direction: row;

    .team-img-container {
      padding-right: 30px;
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }
    }

    .team-title-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-grow: 1;
      .team-title {
        color: $text-tertiary;
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 5px;
        font-size: 18px;
      }
      .team-subtitle {
        color: $text-quaternary;
        padding-top: 5px;
        font-size: 16px;
      }
    }

    .team-btn-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      span {
        color: $text-tertiary;
        svg {
          margin-right: 5px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .team-body {
    width: 100%;
    text-align: justify;
    padding-top: 15px;
    .team-desc {
      padding-top: 15px;
    }
  }
}
