@import "./../../styles/colors.scss";

.carousel-container {
  height: 80vh;
  .carousel-inner {
    height: 80vh;
  }
}

.app-home-title {
  display: flex;
  justify-content: center;
  h1 {
    text-transform: uppercase;
    padding: 3vh 0px;
    font-size: 39px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1;
  }
}
